.contenedorinfoLogin
{
  width: 100%;
  height: 100vh;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#5c3585+0,32b4cf+100 */
background: rgb(92,53,133); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(92,53,133,1) 0%, rgba(50,180,207,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(92,53,133,1) 0%,rgba(50,180,207,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(92,53,133,1) 0%,rgba(50,180,207,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c3585', endColorstr='#32b4cf',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#login img{
    margin: 10px 0;
  }
  #login .center {
    text-align: center;
  }
  
  #login .login {
    max-width: 375px;
      margin: 25px auto;
      float: right;
  }
  
  #login .login-form{
    padding:15px 25px;
  }
.center
{
  width: 100%;
  height: 180px;
  margin-bottom: 10px;
}  
.contenedorimglogin
{
  width: 280px;
  height: 180px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../../../assets/TSW.png');
  margin: auto;
}
body
{
  background-color: red !important;
}
.input-prepend 
{
  width: 100%;
  height: 50px;
}
.input-prepend input
{
  width: 78%;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  outline: none;
  color: #ffffff;
  font-size: 18px;
}
.input-prepend input::-webkit-input-placeholder 
{
    color: #ffffff;
}
.input-prepend input:-moz-placeholder 
{
    color: #ffffff;
}
.input-prepend input:-ms-input-placeholder 
{ 
    color: #ffffff;
}
.input-prepend input:focus
{
  outline: 0px;
  box-shadow: none;
}
.input-prepend .add-on
{
  height: 40px;
  width: 28px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
}
.logologin
{
  width: 320px;
  height: 268px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../../../assets/LogoAxure.png');
  margin: auto;
  float: left;
}
.contenedorLoginInfo
{
  width: 640px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.contenedorinfoLogin .container
{
  width: 50%;
  float: right;
}
.well
{
  background-color: initial;
  border-radius: 30px;
}
.control-group
{
  width: 245px;
}
.contenedorLoginInfo .btn-primary
{
    background-color: white;
    background-image: initial;
    color: #33b2ce;
    outline: initial;
    font-size: 25px;
    text-shadow: initial;
    text-transform: uppercase;
}
.icon-lock
{
  width: 40px;
  height: 28px;  
  background-image: url('../../../assets/Ico-Lock.png');
  margin-top: 8px;
  background-size: cover;
  z-index: 1;
  background-position: -8px -6px;
}
.icon-user
{
  width: 36px;
  height: 35px;
  background-image: url('../../../assets/Ico-User.png');
  margin-top: 8px;
  background-size: cover;
  z-index: 1;
  background-position: -4px -8px;
}
.errorLogin
{
  width: 100%;
  height: 80px;
  position: relative;
  float: right;
  opacity: 0;
  transition: .6s;
      -moz-transition: .6s;
      -webkit-transition: .6s;
      -o-transition: .6s;
}
.errorLogin p
{
  line-height: 20px;
    color: #880c0c;
    float: right;
    width: 250px;
    margin-right: 25px;
    /* background-color: white; */
    padding: 10px;
    text-align: center;
    font-size: 18px;
}
.mostrarError
{
  opacity: 1;
}
@media(max-width: 768px)
{
  .contenedorinfoLogin .container
  {
    float: none;
    margin: auto;
  }
  .logologin
  {
    float: initial;
  }
}