<div class="contenedorinfoLogin">

<div class="contenedorLoginInfo">




<div class="logologin">

</div>
<div id="login" class="container">
  <div class="row-fluid">
    <div class="span12">
      <div class="login well well-small">
        <!-- <div class="center">
            <div class="contenedorimglogin">

            </div>
        </div> -->
        <form #formLogin="ngForm" (submit)="onLogin()" class="login-form" id="UserLoginForm"  accept-charset="utf-8">
          <div class="control-group">
            <div class="input-prepend">
              <div class="add-on"><div class="icon-user"></div></div>
              <input [(ngModel)] ="email"
              name="Username" required="required" placeholder="Email" maxlength="255" type="text" id="UserUsername" autocomplete="off"> 
            </div>
          </div>
          <div class="control-group">
            <div class="input-prepend">
              <div class="add-on"><div class="icon-lock"></div></div>
              <input [(ngModel)] ="pass"
               name="password" required="required" placeholder="Password" type="password" id="UserPassword"> 
            </div>
          </div>
          
          <div class="control-group">
            <input class="btn btn-primary btn-large btn-block" type="submit" value="LOG IN"> 
          </div>
        </form>
      </div><!--/.login-->
    </div><!--/.span12-->
  </div><!--/.row-fluid-->
</div><!--/.container-->
  <div class="errorLogin">
          <p>{{error}}</p>
  </div>
</div>
</div>