<div class="NavAdminBar">
  <div class="logotswNavBarAdmin">

  </div>
  <div class="contenedorlogoaxure">
        
  </div>
</div>
<div class="contenedoritemsBarAdmin">
  
  <div class="itemNavBarAdmin itemNavBarAdmin3">
    <div class="iconVarItem iconVarItem3">

    </div>
    <p>Convenciones</p>

  </div>
  <div class="itemNavBarAdmin itemNavBarAdmin4" (click)="OnLogout()">
    <div class="iconVarItem iconVarItem4">

    </div>
    <p>Cerrar sesión</p>

  </div>
</div>

<div class="contenedorConvenciones">
  <div class="btnconvenciones">
              <div class="logotsw"></div>
  </div>
<!-- <p class="tituloconvenciones">CONVENCIONES</p> -->
<div class="inferiorconvenciones">
    <div class="Titulonivelalerta contenedorinfoconvenciones">
        <div class="icontormentaalerta icontormenta"></div>
        <p>Nivel de alerta</p>
    </div>
    <div class="contenedorinfoconvenciones">
        <div class="icontormenta0 icontormenta"></div>
        <p>0</p>
    </div>
    <div class="contenedorinfoconvenciones">
        <div class="icontormenta1 icontormenta"></div>
        <p>1</p>
    </div>
    <div class="contenedorinfoconvenciones">
        <div class="icontormenta2 icontormenta"></div>
        <p> 2</p>
    </div>
    <div class="contenedorinfoconvenciones">
        <div class="icontormenta3 icontormenta"></div>
        <p>3</p>
    </div>
</div>
</div>

<div class="containermap">
      

  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="6.5" >
    
        <agm-marker 
        *ngFor="let m of arreglo2; let i = index"
        [latitude]="m.latitud"
        [longitude]="m.longitud"
        [iconUrl]="'../../../../assets/icon'+m.nivel+'.png'" 
       >
        
      <agm-info-window>
        <ul>
           <!--  <li><strong>Taladro = {{m.punto}}</strong></li>
            <li><strong>Cliente = {{m.cliente}}</strong></li>
            <li><strong>Alerta Tormenta = {{m.nivel}}</strong></li>
            <li><strong>Fecha Hora Última Alerta = {{m.fecha}}  {{m.hora}}</strong></li>
            <li><strong>Latitud = {{m.latitud}}</strong></li>
            <li><strong>longitud = {{m.longitud}}</strong></li>
            <li><strong>Unidad SAT = {{m.sat}}</strong></li>-->
           
              <li class="TituloTalador titulosmarker"><strong><!--  Taladro = --> {{m.punto}}</strong></li>
              <li class="TituloCliente titulosmarker"><div class="iconmarker iconmarker2"></div><strong><!--Cliente = -->{{m.cliente}}</strong></li>
              <li class="TituloLongitud titulosmarker"><div class="iconmarker iconmarker3"></div><strong>Lon: {{m.longitud}}</strong></li>
              <li class="TituloLatitud titulosmarker"><strong> Lat: {{m.latitud}}</strong></li>
              <li class="TituloSat titulosmarker"><div class="iconmarker iconmarker7"></div><strong>{{m.sat}}</strong></li>
              <li class="TituloTormenta titulosmarker"><div class="iconmarker iconmarker5"></div><strong>Nivel de Alerta Tormenta {{m.nivel}}</strong><img src="../../../../assets/icon{{m.nivel}}.png" alt=""></li>
              <li class="TituloAlerta titulosmarker"><div class="iconmarker iconmarker6"></div><strong>Última Alerta </strong><span class="spanFecha">{{m.fecha}}</span>  <span class="spanHora">{{m.hora}}</span></li>
          </ul>
       
      </agm-info-window>
      
    </agm-marker>
  
  </agm-map>
 
  </div>