<!-- <app-navbar></app-navbar> -->
<!-- <div class="contenedorNavBarAdmin">
  <div class="container">
    <div class="Btn1NavbarAdmin btnNavBarAdmin" (click)="menu(1)">
        <div class="iconbtnNavbarAdmin icon1btnNavbarAdmin">

        </div>
        <p>Nuevo Usuario</p>
    </div>
    <div class="Btn2NavbarAdmin btnNavBarAdmin" (click)="menu(2)">
        <div class="iconbtnNavbarAdmin icon2btnNavbarAdmin">

        </div>
        <p>Mapa</p>
    </div>
    <div class="Btn3NavbarAdmin btnNavBarAdmin" (click)="OnLogout()">
        <div class="iconbtnNavbarAdmin icon3btnNavbarAdmin">

        </div>
        <p>LogOut</p>
    </div>
  </div>
</div> -->

<div class="NavAdminBar">
        <div class="logotswNavBarAdmin">

        </div>
        <div class="contenedorlogoaxure">
        
        </div>
</div>
<div class="contenedoritemsBarAdmin">
        <div class="itemNavBarAdmin itemNavBarAdmin1" (click)="menu(1)">
              <div class="iconVarItem iconVarItem1">

              </div>
              <p>Nuevo Usuario</p>
        </div>
        <div class="itemNavBarAdmin itemNavBarAdmin2" (click)="menu(2)">
          <div class="iconVarItem iconVarItem2">

          </div>
          <p>Mapa</p>

        </div>
        <div class="itemNavBarAdmin itemNavBarAdmin3">
          <div class="iconVarItem iconVarItem3">

          </div>
          <p>Convenciones</p>

        </div>
        <div class="itemNavBarAdmin itemNavBarAdmin4" (click)="OnLogout()">
          <div class="iconVarItem iconVarItem4">

          </div>
          <p>Cerrar sesión</p>

        </div>
</div>

<div class="contenedorConvenciones">
  <div class="btnconvenciones">
              <div class="logotsw"></div>
  </div>
<!-- <p class="tituloconvenciones">CONVENCIONES</p> -->
<div class="inferiorconvenciones">
    <div class="Titulonivelalerta contenedorinfoconvenciones">
        <div class="icontormentaalerta icontormenta"></div>
        <p>Nivel de alerta</p>
    </div>
    <div class="contenedorinfoconvenciones">
        <div class="icontormenta0 icontormenta"></div>
        <p>0</p>
    </div>
    <div class="contenedorinfoconvenciones">
        <div class="icontormenta1 icontormenta"></div>
        <p>1</p>
    </div>
    <div class="contenedorinfoconvenciones">
        <div class="icontormenta2 icontormenta"></div>
        <p> 2</p>
    </div>
    <div class="contenedorinfoconvenciones">
        <div class="icontormenta3 icontormenta"></div>
        <p>3</p>
    </div>
</div>
</div>

<div class="ContenedorVistaAdmin">
    <div *ngIf="menuVista == 'Maps'" class="menuHome">
        <app-maps-admin></app-maps-admin>
      </div>
      <div *ngIf="menuVista == 'Registro'" class="menuHome">
        <app-registro></app-registro>
      </div>
</div>