/* You can add global styles to this file, and also import other style files */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  -webkit-font-smoothing: antialiased !important;
  -webkit-overflow-scrolling: auto ;
  text-rendering: optimizeLegibility;
}
body
{
    margin: 0px !important;
   
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 0;
  background-color: #ffffff;
	font-family: 'termina', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
div{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.container
{
    margin-left: 0px;
    margin-right: auto;
    max-width: 100%; 
    width: 100%;
}
.logoax
{
    width: 170px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/assets/LogoAxuren.png');
    margin-top: 8px;
    float: left;
    display: none;
}
.logoaxBar
{
    width: 300px;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/assets/logoax.png');
    float: left;
    display: contain;
    position: absolute;
    z-index: 1;
    bottom: 0px;
    top: 800px;
}
.logotsw
{
    width: 70px;
    height: 95px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/assets/iconostsw.png');
    margin-top: -20px;
    float: left;
    background-size: contain;
}
agm-map-container-inner
{
    margin: auto;
}
agm-map {
    width: 100%;
    height: 113%;
    margin: auto
  }
  .containermap
  {
      width: 100%;
      height: calc(100vh - 110px);
      margin: auto;
      position: relative;
  }
  .contenedorConvenciones
  {
      width: 410px;
      height: 60px;
      background-color: #eaeaea;
      z-index: 1;
      position: absolute;
      /* left: -310px; */
      bottom: 35px;
      transition: .5s;
      right: 58px;
      border-radius: 50px;
      opacity: 0;
      transition: .6s;
      -moz-transition: .6s;
      -webkit-transition: .6s;
      -o-transition: .6s;
  }
  .tituloconvenciones
  {
      font-size: 25px;
      font-weight: bold;
      text-align: center;
      margin-top: 29px;
      font-family: 'Open Sans', sans-serif;
  }
  .inferiorconvenciones
  {
      margin-left: 25px;
  }

  .contenedorlogoaxure
  {
    width: 200px;
    height: 100px;
    background-image: url('/assets/LogoAxuren.png');
    float: left;
    display: contain;
    position: absolute;
    z-index: 1;
    top: 750px;
  }

  .contenedorinfoconvenciones
  {
      height: 32px;
      width: 60px;
      overflow: hidden;
      margin-top: 14px;
      float: left;
  }
  .Titulonivelalerta
  {
    width: 130px;
  }
  .Titulonivelalerta p
  {
    width: 80px;
    font-size: 17px !important;
    line-height: 16px !important;
    text-align: left;
    height: 40px !important;
    margin-left: 13px !important;
  }
  .contenedorinfoconvenciones p
  {
        font-size: 18px;
        line-height: 32px;
        margin-left: 5px;
        float: left;
        font-family: 'Open Sans', sans-serif;
  }
  .icontormenta
  {
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
  }
  .icontormentaalerta
  {
    background-image: url('/assets/alerta.svg');  
  }
  .icontormenta0
  {
    background-image: url('/assets/Alerta0.svg');
    
  }
  .icontormenta1
  {
    background-image: url('/assets/Alerta1.svg');
  }
  .icontormenta2
  {
    background-image: url('/assets/Alerta2.svg');
  }
  .icontormenta3
  {
    background-image: url('/assets/Alerta3.svg');
  }
  .btnconvenciones
  {
    position: absolute;
    right: -70px;
    height: 50px;
    width: 70px;
    background-color: #eaeaea;
    cursor: pointer;
    display: none;
  }
  .iconbtnconvenciones
  {
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-image: url('/assets/iconbtn.svg');
  }
  .openBtn
  {
    opacity: 1;
  }
  .TituloTalador
  {
    
  }

  .gm-style .gm-style-iw-c
  {
    /*padding: 0px !important;*/
  }
  .iconmarker
  {
    width: 35px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    margin-right: 11px;
  }
  .titulosmarker
  {
    height: 22px;
    color: #9ec8dd;
    font-size: 14px;
    margin-top: 10px;
    font-weight: bold;
    line-height: 33px;
  }
  .TituloTalador
  {
    height: 30px;
    background: rgba(92,53,133,0.5); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(92,53,133,0.5) 0%, rgba(50,180,207,0.5) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(92,53,133,0.5) 0%,rgba(50,180,207,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(92,53,133,0.5) 0%,rgba(50,180,207,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c3585', endColorstr='#32b4cf',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    text-align: center;
    line-height: 30px;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;    
    margin-top: 0px;
  }
  .iconmarker2
  {
    background-image: url('/assets/MapaAdmin.svg');
  }
  .iconmarker3
  {
    background-image: url('/assets/Convenciones.svg');
  }
  .TituloLatitud
  {
    margin-top: 0px;
  }
  .iconmarker4
  {
    
  }
  .iconmarker5
  {
    background-image: url('/assets/alerta.svg');
  }
  .TituloTormenta img
  {
    width: 22px;
  }
  .iconmarker6
  {
    background-image: url('/assets/campana.svg');
  }
  .TituloAlerta span.spanFecha, .TituloAlerta span.spanHora
  {
    border: 1px solid #9ec8dd;
    border-radius: 10px;
    float: initial;
    padding-left: 5px;
    padding-right: 5px;
  }
  .iconmarker7
  {
    background-image: url('/assets/NewUser.svg');
  }
/*Inicio Login*/

/* Fin Login */



